@import "globals";
@import "to-do-list";
.container{
  display: grid;
  grid-template-rows: 100px auto ;
 // height: 100vh;
  grid-gap: 10px;
  grid-template-columns: 350px;
  justify-content: center;
  align-items: center;

}
.flex{
  display: flex;

}