
  .app{
    display: grid;
    .todo-header{
      display: inline-block;
      input{
        padding: 5px 10px;
      }
      .enter-button{
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 4px;
        background-color: deepskyblue;
        color: white;
      }
    }
    ol{
      list-style: none;
      display: grid;
      grid-gap: 20px;
      li{

      }
    }
  }


